header.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0;
    padding-inline: 1.5rem;
    max-width: 132rem;
    margin: 4rem auto;

    .logo-container {
        width: 7rem;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0 3rem;
        
        a, span {
            font-size: 2rem;
            cursor: pointer;
        }
    }
}